<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <title>01.센터정보</title>
        <link rel="stylesheet" href="./admin.css">
        <link rel="stylesheet" href="bootstrap.css"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" integrity="sha512-aEe/ZxePawj0+G2R+AaIxgrQuKT68I28qh+wgLrcAJOz3rxCP+TwrK5SPN+E5I+1IQjNtcfvb96HDagwrKRdBw==" crossorigin="anonymous" />
        <link href='https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
        <link href='https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css' rel='stylesheet' type='text/css'>
        <script src="./jquery.js"></script>
        <script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js" integrity="sha512-Y+0b10RbVUTf3Mi0EgJue0FoheNzentTMMIE2OreNbqnUPNbQj8zmjK3fs5D2WhQeGWIem2G2UkKjAL/bJ/UXQ==" crossorigin="anonymous"></script>
        
        <style type="text/css">
            html, body {
                height: 100%;
            }
        </style>
         <style type="text/css">
              @font-face{
                font-family:"futura-pt";
                src:url("https://dev.foundy.me/template/fonts/futura-pt/FuturaPTMedium.otf") format("woff"),
                url("https://dev.foundy.me/template/fonts/futura-pt/FuturaPTMedium.otf") format("opentype"),
                url("https://dev.foundy.me/template/fonts/futura-pt/FuturaPTMedium.otf") format("truetype");
              }
              *{
                font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', /*'Noto Sans KR',*/ 'Quicksand', 'Patua One', 'Roboto', FontAwesome, 'Helvetica Neue', Helvetica, Arial, 'Glyphicons Halflings', sans-serif !important;
              }
              .remove_one{
                cursor:pointer;
                padding-left:5px;
              }
              body {
                background: #F3EFEB;
              }
              .page-section {
                padding-top: 10px !important;
                padding-bottom: 10px !important;
              }
              body {
                  margin: 0 !important; /* 리셋을 하지 않은 경우 추가 */
              }
              .content-area {
                  min-height: calc(100vh - 98px) !important;
              }
              .font-futura {
                font-family: futura-pt !important;
                font-style: normal !important;
                font-weight: 400 !important;
              }
              .footer1 {
                margin: 0 !important;
                padding-top: 0 !important;
              }
        </style> 
    </head>
    <body id="allwrap">
        
        <div id="whole">
            <header class="header">
                <div class="header__nav clearfix">
                    <h1 class="nav--logo">
                        <a href="#" class="logo_home">
                            <img src="./imgs/logo_foundy_modiy.png" alt="홈" width="76" height="24">
                        </a>
                    </h1>
                    <section class="nav--menu clearfix">
                        <h2 class="menu_tit meaning">메인메뉴</h2>
                        <div class="menu_wrap clearfix">
                            <a href="#">홈</a>
                            <a href="#">공지사항</a>
                            <a href="./admin_center.html" class="selected">센터정보</a>
                            <a href="./admin_teacher.html">강사 / 스케줄</a>
                            <a href="./admin_course.html">수강권 관리</a>
                            <a href="./admin_member.html">회원 관리</a>
                            <a href="#">온라인클래스</a>
                            <a href="#">정산</a>
                        </div>
                    </section>
                    <article class="nav--id">
                        <h2 class="id_name meaning">접속 아이디</h2>
                        <div class="id_current">
                            <button class="current_accessed">서윤이네집서윤이네집</button>
                            <div class="current_arrow">
                                <img src="./imgs/icon_down.png" width="12" class="arrow_down">
                                <img src="./imgs/icon_up.png" width="12" style="display: none;" class="arrow_up">
                            </div>
                        </div>
                        <div class="id_list shadow_md" style="display: none;">
                            <button class="list_child">길동이네</button>
                            <button class="list_child">현정이네</button>
                            <button class="list_child">지은이네</button>
                        </div>
                    </article>
                </div>
            </header>
            <section class="boxwrap">
                <h2 class="boxwrap__type meaning">센터정보</h2>
                <div class="boxwrap__info">
                    <div class="info--tit">
                        <a href="#" class="tit_theme">
                            기본정보
                            <div class="theme_arrow">
                                <img src="./imgs/icon_next.png" width="6" height="auto">
                                <img src="./imgs/icon_next_white.png" width="6" height="auto" style="display: none;" class="next_white">
                            </div>                        
                        </a>
                        <a href="#" class="tit_theme">
                            추가정보
                            <div class="theme_arrow">
                                <img src="./imgs/icon_next.png" width="6" height="auto">
                                <img src="./imgs/icon_next_white.png" width="6" height="auto" style="display: none;" class="next_white">
                            </div>
                        </a>
                    </div>
                    <div class="info--contents scroll-y_hidden">
                        <section class="contents_center contents_enroll scroll-y">
                            <h3 class="meaning">센터명</h3>
                            <div class="center_detailbox shadow_md">
                                <div class="centerName">
                                    <button class="btn_save btn_val btn_rg">저장</button>
                                    <p class="centerName_tit enroll_tit tit-lg">센터명</p>
                                    <dl class="enroll_detail clearfix">
                                        <dt>센터명</dt>
                                        <dd class="detail_name">
                                            <input class="name_space name_center" type="text"  value="소소함 요가" style="height: 32px;" disabled>
                                            <span>센터명 변경시 담당자에게 연락주시기 바랍니다.</span>
                                        </dd>
                                        <dt>전화번호</dt>
                                        <dd class="detail_phone">
                                            <input class="name_space" type="text" style="height: 32px;">
                                            <p>-</p>
                                            <input class="name_space" type="text" style="height: 32px;">
                                            <p>-</p>
                                            <input class="name_space" type="text" style="height: 32px;">
                                        </dd><br>
                                        <dt>주소</dt>
                                        <dd class="detail_address">
                                            <div class="address_box">
                                                <input type="text" placeholder="주소 검색" class="address_input">
                                                <button class="address_search">
                                                    <!-- 주소창 검색시 카카오 검색서비스 끌어오기 -->
                                                    <img src="./imgs/icon_find.png" width="24">
                                                </button>
                                            </div>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="centerArea">
                                    <p class="centerArea_tit_lg enroll_tit tit-lg">클래스 분류</p>
                                    <div class="centerArea_yoga">
                                        <p class="centerArea_tit_sm">요가 클래스</p>
                                        <div class="chkbox_wrap">
                                            <div class="chkbox_line">
                                                <label class="form-chk col_sp">
                                                    <input type="checkbox" name="number">
                                                    빈야사
                                                </label>
                                                <label class="form-chk col_sp">
                                                    <input type="checkbox" name="number">
                                                    아쉬탕가
                                                </label>
                                                <label class="form-chk col_sp">
                                                    <input type="checkbox" name="number">
                                                    하타
                                                </label>
                                                <label class="form-chk col_sp">
                                                    <input type="checkbox" name="number">
                                                    마이솔
                                                </label>
                                                <label class="form-chk col_sp">
                                                    <input type="checkbox" name="number">
                                                    인요가
                                                </label>
                                            </div>
                                            <div class="chkbox_line">
                                                <label class="form-chk col_sp">
                                                    <input type="checkbox" name="number">
                                                    리프레쉬 릴렉스
                                                </label>
                                                <label class="form-chk col_sp">
                                                    <input type="checkbox" name="number">
                                                    레스토레이티브
                                                </label>
                                                <label class="form-chk col_sp">
                                                    <input type="checkbox" name="number">
                                                    소아요가
                                                </label>
                                                <label class="form-chk col_sp">
                                                    <input type="checkbox" name="number">
                                                    마이링
                                                </label>
                                            </div>
                                            <div class="chkbox_line">
                                                <label class="form-chk col_sp">
                                                    <input type="checkbox" name="number">
                                                    플라잉
                                                </label>
                                                <label class="form-chk col_sp">
                                                    <input type="checkbox" name="number">
                                                    테라피
                                                </label>
                                                <label class="form-chk col_sp">
                                                    <input type="checkbox" name="number">
                                                    힐링
                                                </label>
                                                <label class="form-chk col_sp">
                                                    <input type="checkbox" name="number">
                                                    명상
                                                </label>
                                                <label class="form-chk col_sp">
                                                    <input type="checkbox" name="number">
                                                    기타 <span class="write_padding"><input type="text" class="chk_write"></span>
                                                    <!-- 체크박스 disabled 기능 필요 -->
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="centerArea_pilates">
                                        <p class="centerArea_tit_sm">필라테스 클래스</p>
                                        <div class="chkbox_wrap">
                                            <div class="chkbox_line">
                                                <label class="form-chk col_sp">
                                                    <input type="checkbox" name="number">
                                                    필라테스
                                                </label>
                                                <label class="form-chk col_sp">
                                                    <input type="checkbox" name="number">
                                                    자이로토닉
                                                </label>
                                                <label class="form-chk col_sp">
                                                    <input type="checkbox" name="number">
                                                    기타 <span class="write_padding"><input type="text" class="chk_write"></span>
                                                    <!-- 체크박스 disabled 기능 필요 -->
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="centerUsing">
                                    <p class="centerUsing_tit enroll_tit tit-lg">이용정보</p>
                                    <div class="chkbox_wrap">
                                        <div class="chkbox_line">
                                            <label class="form-chk col_sp">
                                                <input type="checkbox" name="number">
                                                샤워시설
                                            </label>
                                            <label class="form-chk col_sp">
                                                <input type="checkbox" name="number">
                                                수건제공
                                            </label>
                                            <label class="form-chk col_sp">
                                                <input type="checkbox" name="number">
                                                주차
                                            </label>
                                            <label class="form-chk col_sp">
                                                <input type="checkbox" name="number">
                                                발렛
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                        </section>
                        <section class="contents_addinfo contents_modify scroll-y">
                            <h3 class="meaning">추가정보</h3>
                            <div class="addinfo_detailbox modify_detailbox">
                                <div class="addinfo_about ticket_name shadow_md">
                                    <div class="about_wrap name_wrap">
                                        <p class="name_tit tit-lg tit-normal">About</p>
                                        <button class="btn_save btn_val btn_rg">저장</button>
                                    </div>
                                    <form class="addinfo_textbox">
                                        <div class="remain_textarea">
                                            <p>남은 글자 수 <span class="remain_text"><strong class="remain_val">0</strong>자</span></p>
                                        </div>
                                        <textarea class="about_textarea" placeholder="내용을 입력해주세요 (최대 1,000자)"></textarea>
                                    </form>
                                </div>
                                <div class="addinfo_editor ticket_name shadow_md">
                                    <div class="editor_wrap name_wrap clearfix">
                                        <!-- 블로그 편집기 불러오기 -->
                                        <p class="editor_tit name_tit tit-lg tit-normal">Info</p>
                                        <button class="btn_save btn_val btn_rg">저장</button>
                                    </div>
                                    <div class="editor_box"></div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
            <!-- <div class="popup-box">
                <div class="popup__member popup_layout shadow_sm">
                    <div class="member-party">
                        <div class="member--guide">
                            <p class="guide_id">test</p>
                            <span class="guide_txt">님</span>
                        </div>
                        <div class="member--join clearfix">
                            <button class="join_no btn_val btn_md">취소</button>
                            <button class="join_ok btn_val btn_md">추가</button>
                        </div>
                    </div>    
                    <div class="member--data">
                        <dl class="data-box clearfix">
                            <dt>이름</dt>
                            <dd class="data_name">
                                <input type="text" value="홍길동" disabled>
                            </dd>
                            <dt>연락처</dt>
                            <dd class="data_phone">
                                <input type="text" value="010-1234-5678" disabled>
                            </dd>
                            <dt>기간</dt>
                            <dd class="data_period">
                                <div class="container">
                                    <div class="form-group">
                                        <div class='input-group date' id='datetimepicker1'>
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <script type="text/javascript">
                                        $(function () {
                                            $('#datetimepicker1').datetimepicker();
                                        });
                                    </script>
                                </div>
                            </dd>
                            <dt>정지</dt>
                            <dd class="data_stop">
                                <input type="text" value="30일" disabled>
                            </dd>
                            <dt>추가연장</dt>
                            <dd class="data_extend">
                                <input type="text" value="30일" disabled>
                            </dd>
                            <dt>환불</dt>
                            <dd class="data_change">X</dd>
                        </dl>
                        <button class="data-save btn_md">저장</button>
                    </div>
                </div>
                <div class="popup__extend popup_layout shadow_sm">
                    <div class="member--guide">
                        <p class="guide_question">회원권을 연장하시겠습니까?</p>
                    </div>
                    <div class="member--dates">
                        <input type="number">
                        <span class="tit-md">일</span>
                    </div>
                    <div class="member--how">
                        <button class="how_no btn_val btn_rg">아니오</button>
                        <button class="how_ok btn_val btn_rg">예</button>
                    </div>
                </div>
                <div class="popup__stop popup_layout shadow_sm">
                    <div class="member--guide">
                        <p class="guide_question">회원권을 정지하시겠습니까?</p>
                    </div>
                    <div class="member--dates">
                        <input type="number">
                        <span class="tit-md">일</span>
                    </div>
                    <div class="member--how">
                        <button class="how_no btn_val btn_rg">아니오</button>
                        <button class="how_ok btn_val btn_rg">예</button>
                    </div>
                </div>
                <div class="popup__alert popup_layout shadow_sm">
                    <div class="member--guide">
                        <p class="guide_alert">저장되었습니다!</p>
                    </div>
                </div>
            </div> -->
        </div>
        
<!--        <script src="./jquery.js"></script>-->
        <script type="text/javascript">
            $(function(){
                // nav--id 클릭이벤트
                $('.id_list').css('display','none');
                $('.nav--id').click(function(){
                    $('.id_list').toggle();
                    var display = $('.arrow_up').css('display');
                    // console.log(display);
                    if(display == 'none'){
                        $('.arrow_up').show().prev().hide();
                    }
                    else {
                        $('.arrow_up').hide().prev().show();
                    }
                })
                $('.list_child').hover(function(){
                    $('.list_child').css('background','#fff');
                    $(this).css('background','#eee');
                },function(){
                    $('.list_child').css('background','#fff');
                })
                
                // list_child 클릭이벤트
                $('.list_child').click(function(){
                    var origin = $('.current_accessed').text();
                    var current = $(this).text();
                    $('.current_accessed').text(current);
                    $(this).text(origin);
                })
                
                
                // tit_theme 클릭이벤트
                $('.tit_theme').click(function(){
                    $('.tit_theme').removeClass('reverse_color');
                    $(this).addClass('reverse_color');
                    $(this).find('.next_white').show().prev().hide();
                    $(this).siblings().find('.next_white').hide().prev().show();
                    
                    var index = $('.tit_theme').index(this);
                    $('.info--contents > section').hide();
                    $('.info--contents > section').eq(index).show();
                })
                
                // window 로드이벤트
                $(window).load(function(){
                    $('.tit_theme:first').addClass('reverse_color');
                    $('.tit_theme:first').find('.next_white').show().prev().hide();
                    $('.info--contents > section').hide();
                    $('.info--contents > section:first').show();
                })
                
                
                // chk_btn 클릭이벤트
                $('.main_chk').click(function(){
                    var chk = $('.main_chk').prop('checked');
                    if(chk){
                        $('input[class^=ticket_]').prop('checked',true);
                    }
                    else {
                        $('input[class^=ticket_]').prop('checked',false);
                    }
                })
                
                /* 팝업창 오픈이벤트 */
                $('.popup-box').children().hide();
                
                
                /* 팝업창 닫기이벤트 */
                // 윈도우 ESC버튼 팝업닫기
                $(window).keyup(function(e){
                    if(e.keyCode == 27){
                        $(".popup-box").fadeOut();
                        $('.popup-box').children().hide();
                    }
                })
                
                // 윈도우 클릭시 팝업닫기
                $(window).click(function(e){
                    var target = e.target.className;

                    if(target == 'popup-box'){
                        $('.popup-box').fadeOut();
                        $('.popup-box').children().hide();
                    }
                })
                
                // 주소검색창 닫기 버튼
                $('.address_box').click(function(){
                    $('.popup-box').fadeOut();
                    $('.popup-box').children().hide();
                })
                
                // textarea 입력 이벤트
                $('.about_textarea').on('keyup',function(){
                    
                    var input = $(this).val().length;
                    var left = 1000 - input;
                    $('.remain_val').text(left);
                    
                    if($(this).val().length > 1000) {
                        alert("글자수는 1,000자 이내로 제한됩니다.");
                        $(this).val($(this).val().substring(0,1000));
                        // left = 0;
                    }
                })
                
            })
        </script>
    </body>
</html>